* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 40px;
}
.content-box {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}